main{
    color: aliceblue;
    direction: rtl;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.vid{
    margin-left: 150px;
    margin-right: 65px;
    margin-top: 40px;
    border-radius: 20px;
    width: 80%;
    height: 650px;
}


.a1{
    margin-left: 150px;
    margin-right: 65px;
    margin-top: 40px;
    border-radius: 20px;
    width: 80%;
    height: 650px;
}



.section{
    margin-right: 100px;
    display: inline-block;
    background-color: rgb(51, 54, 54);
    width: 20%;
    height: 80px;
    border-radius: 20px;
    transition: 0.3s;
}
.section a{
    padding-top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
    display: inline-block;
    text-indent: 90px;
    height: 100%;
    width: 100%;
}
.section:hover{
    background-color: rgba(13, 160, 13, 0.87);
    transform: scale(1.1);
}